{#
/**
 * @file
 * Default theme implementation to render images inserted into text field.
 *
 * Available variables:
 * - view_mode: Current view mode.
 * - enity: The entity object being viewed.
 * - image: The image object to be inserted.
 * - style: Style of the image.
 * - url: URL of the image.
 *
 * @see template_preprocess_insert_image()
 *
 * @ingroup themeable
 */
#}
<img src="{{ url }}" {{ attributes }} />